body{
    text-align: center;
    background-image: url(img/2d7e12e9028e4071a606b6677f55ac83.jpeg);
    background-size: cover;
    background-position: center;
}
.score{
    font-family: 'Kelly Slab', sans-serif;
    display: inline-block;
    margin-top: 200px;
    font-size: 50px;
    text-shadow:
      1px 1px 0 hsl(0, 0%, 0%);
    color: hsl(0, 0%, 0%);
    transition: all 1s;
}

.title{
    font-family: 'Kelly Slab', sans-serif;
    font-size: 100px;
    text-shadow:
    1px 1px 0 hsl(20,100%,50%),
    2px 2px 0 hsl(20,100%,50%),
    3px 3px 0 hsl(35,100%,50%),
    4px 4px 0 hsl(35,100%,50%),
    5px 5px 0 hsl(45,100%,50%),
    6px 6px 0 hsl(45,100%,55%),
    7px 7px 0 hsl(55,100%,60%),
    8px 8px 0 hsl(55,100%,65%);
    color: hsl(0,100%,40%);
    transition: all 1s;
      
}
.title:hover {
    text-shadow:
      1px -1px 0 hsl(290,100%,40%),
      2px -2px 0 hsl(290,100%,40%),
      3px -3px 0 hsl(280,100%,60%),
      4px -4px 0 hsl(280,100%,60%),
      5px -5px 0 hsl(270,100%,75%),
      6px -6px 0 hsl(270,100%,80%),
      7px -7px 0 hsl(260,100%,85%),
      8px -8px 0 hsl(260,100%,90%);
    color: hsl(300,100%,30%);
  }
.table_price {
  border-radius: 5px;
  margin-top: 20px;
  display: inline-block;
  border-collapse: collapse;
  border-left: 3px solid green;
  border-right: 3px solid green;
  border-bottom: 3px solid green;
  border-top: 3px solid green;
  font-family: "Lucida Grande", sans-serif;
 }
.table_price caption {
  background: whitesmoke; 
  padding: 10px;
  box-shadow: 0 2px  4px 0 rgba(0,0,0,.3);
  color: red;
  font-family: "Roboto Slab",serif;
  font-style: normal;
  font-size: 26px;
  text-align: center;
  margin: 0;
}
.table_price caption img{
    height: 100px;
}

.table_price td, .table_price th {
  padding: 10px;
  background: #E5E5E5;
  border-top: 1px black solid;
}
.table_price th {
  text-align: left;
  font-size: 18px;
  background: #E5E5E5;
}
.table_price tr:nth-child(2n) {
  background: #E5E5E5;
}
.table_price td:last-of-type {
  text-align: center;
}
.table_price input {
  display: inline-block;
  padding: 5px 10px;
  background: green;
  position: relative;
}
.table_price input:hover {
  box-shadow: none;
  top: 2px;
  left: 2px;

}
.find{
  width: 107px;
  height: 105px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  background-image: url('https://media.discordapp.net/attachments/888096136676667472/1176915562803253309/1kop_2017_v2_mmd_png.png?ex=65709b08&is=655e2608&hm=fbcfd0fd23b1e5173578aa8c91e82180f0f87ac77a7daa8a5b9115297565f445&=&format=webp');
  background-size: cover;
}
.find:hover {
  opacity: 0.8;
}

.find:active {
  transform: scale(0.95);
}

.table_save {
  position: absolute;
  right: 30px;
  top: 5px;
  display: inline-block;
}

.save{
  display: inline-block;
  padding: 5px 10px;
  background: rgb(87, 86, 88);
  position: relative;
  color: white;
}

.save:hover {
  box-shadow: none;
  top: 2px;
  left: 2px;
}

.load{
  display: inline-block;
  padding: 5px 10px;
  background: rgb(87, 86, 88);
  position: relative;
  color: white;
}

.load:hover {
  box-shadow: none;
  top: 2px;
  left: 2px;
}