.image-button {
    width: 100px;
    height: 100px;
    border: none;
    background-image: url("https://media.discordapp.net/attachments/888096136676667472/1176915562803253309/1kop_2017_v2_mmd_png.png?ex=65709b08&is=655e2608&hm=fbcfd0fd23b1e5173578aa8c91e82180f0f87ac77a7daa8a5b9115297565f445&=&format=webp");
    background-size: cover;
  }

.image-button:hover {
    opacity: 0.8;
}
  
.image-button:active {
    transform: scale(0.95);
}